body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
}

.main__input:hover,
.main__input:focus {
    border-color: #A88FFA;
    box-shadow: 0 0 0.3rem #CDBAF5;
}

.main__input {
    transition: all 0.3s ease-in-out;
}

.text__search {
    transition: background-color 0.3s;
}

.text__search:hover {
    background-color: #b6a1f0;
}

@media (max-width: 600px) {
    .layout__main {
        width: 90%;
    }
}
