body{
    font-family: "Times New Roman", Times, serif;
    background-color: aliceblue;
}

.articulo{
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
    text-align: center;     
    float: left;
}

.clearfix{
    float: none;
    clear: both;
}