body{
    font-family: sans-serif, Arial, Helvetica;
    background-color: antiquewhite;
}

a{
    transition: all 300ms linear;
}

ul > li > a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

ul > li > a:hover {
    color: blue;
}

li > ul > li > a{
    color: red;
    font-size: 17px;
    text-decoration: none;
}

li > ul > li > a:hover{
    color: brown;
}